body {
  min-height: 100vh;
}

nav {
  ul {
    li {
      a {
        .navlink-active {
          color: purple;
        }
      }
    }
  }
}

.navbar {
  margin-bottom: 0px;
}

#root {
  height: 100%;
}

#container-wrapper {
  height: 100%;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
  background: #F8F8F8;
  border: 1px solid #e7e7e7;
}
