html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  // space for footer
  padding-bottom: 60px;
}

nav {
  z-index: 2;
  ul {
    li {
      a {
        .navlink-active {
          color: purple;
        }
      }
    }
  }
}

h1 {
  margin-top: 10px;
}

.capitalize {
  text-transform: capitalize;
}

.navbar {
  margin-bottom: 0px;
}

#root {
  height: 100%;
}

#container-wrapper {
  height: 100%;
}

.content {
  padding: 20px;
}

.center-horizontal {
  margin: 0 auto;
}

.cart-img {
  max-width: 200px;
  max-height: 200px;
  cursor: pointer;
}

footer {
  z-index: 2;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
  background: #F8F8F8;
  border: 1px solid #e7e7e7;

  p {
    margin-top: 12px;
  }
}
