@import 'palette';

body, a, p, h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif !important;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  // space for footer
  padding-bottom: 60px;
}

nav {
  z-index: 2;

  a {
    font-size: 16px;
  }
}

.navbar-default {
  background-color: #fcfcfc;
  a {
    &:hover {
      color: $link-color !important;
    }
  }
}

.navbar-inverse {
  background-color: #444;
  font-weight: lighter;
  a {
    color: white !important;

    &:hover {
      color: #link-color !important;
    }
  }
}

.navbar {
  border-radius: 0;
}

h1 {
  margin-top: 10px;
}

a {
  color: $link-color;

  &:focus, &:hover {
    color: darken($link-color, 25%);
  }
}

.capitalize {
  text-transform: capitalize;
}

.navbar {
  margin-bottom: 0px;
}

#root {
  height: 100%;
}

#container-wrapper {
  height: 100%;
}

.content {
  padding: 20px;
}

.center-horizontal {
  margin: 0 auto;
}

.cart-img {
  max-width: 200px;
  max-height: 200px;
  cursor: pointer;
}

footer {
  z-index: 2;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
  background: #fcfcfc;
  border: 1px solid #ddd;

  p {
    margin-top: 12px;
  }
}
